<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
    	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>tornado_disqus Demo</title>
	</head>
	<body>
		<b>Signed in as: {{ current_user["username"] }}</b> - <a href="/logout">Sign Out</a>
		<p>
			This is a simple demo of the DisqusMixin for Tornado that will display all the posts you've made using Disqus.<br />
			While this is a pretty simple demo, the Mixin can be used with any of the Disqus API methods.<br />
			The source for the Mixin can be found <a href="https://github.com/toddward/tornado_disqus">on GitHub</a>.<br />
			You can find more information about Tornado at <a href="http://tornadoweb.org">tornadoweb.org</a>.
		</p>
		<b>All of {{ current_user["username"] }}'s posts:</b>
		<ul>
			{% for post in posts %}
				{% if "message" in post %}
					<li>{{ post["message"] }}</li>
				{% end %}
			{% end %}	
		</ul>
	</body>
</html>